# API keys for various services
openai:
  api_key: "sk-123123123"
  base_url: "http://ec2-98-86-51-242.compute-1.amazonaws.com:7177"
  model_id: "US Claude 3.7 Sonnet By Anthropic (Served via LiteLLM)"


